@page "/Administracion/Areas/Borrar/{id}"
@model Hermes2018.Areas.Identity.Pages.Administracion.Areas.BorrarModel

<div class="content-wrapper pt-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-2">
                        <ol class="breadcrumb-2 mt-0 mb-0 pb-1 pt-1 display-inline">
                            <li class="breadcrumb-2-item">
                                <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="">Inicio</a>
                            </li>
                            <li class="breadcrumb-2-item">
                                <a asp-area="Identity" asp-page="/Administracion/Areas/Index" asp-route-id="">Áreas</a>
                            </li>
                            <li class="breadcrumb-2-item active display-flex">
                                Borrar áreas
                            </li>
                        </ol>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-2">
                        <div class="float-right">

                        </div>
                    </div>
                    <div class="col-12">
                        <hr class="hr-thick mb-1 mt-1" />
                        <h5>Borrar Áreas</h5>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger error-list-clean"></div>
                            <dl class="">
                                <dt class="">Nombre</dt>
                                <dd class="">
                                    @Html.DisplayFor(x => x.Borrar.Nombre)
                                </dd>
                                <dt class="">Dirección</dt>
                                <dd class="">
                                    @Html.DisplayFor(x => x.Borrar.Direccion)
                                </dd>
                                <dt class="">Teléfono</dt>
                                <dd class="">
                                    @Html.DisplayFor(x => x.Borrar.Telefono)
                                </dd>
                                <dt class="">Región</dt>
                                <dd class="">
                                    @Html.DisplayFor(x => x.Borrar.Region)
                                </dd>

                                @if (!string.IsNullOrEmpty(Model.Borrar.Area_Padre))
                                {
                                    <dt class="">Área padre</dt>
                                    <dd class="">
                                        @Html.DisplayFor(x => x.Borrar.Area_Padre)
                                    </dd>
                                }

                                <dt class="">Visible</dt>
                                <dd class="">
                                    @Html.DisplayFor(x => x.Borrar.Visible)
                                </dd>
                            </dl>
                            @Html.HiddenFor(x => x.Borrar.AreaId, new { @class= "sin-indicador" })

                            <div>
                                <p>¿Desea borrar esta área?</p>
                            </div>
                            <div>
                                <a asp-area="Identity" asp-page="/Administracion/Areas/Index" class="btn btn-light" title="Regresar">Cancelar</a>
                                <button type="submit" class="btn btn-danger" title="Borrar el área definitivamente">Borrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
