@page "/Correspondencia/Crear/"
@model CrearModel
@section styles
    {
    <link type="text/css" rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css" />
    <link type="text/css" rel="stylesheet" href="~/lib/froala-editor/css/froala_editor.pkgd.min.css" />
    <link type="text/css" rel="stylesheet" href="~/lib/froala-editor/css/froala_style.min.css" />
    <link type="text/css" rel="stylesheet" href="~/lib/froala-editor/css/plugins/image.min.css" />
    <link type="text/css" rel="stylesheet" href="~/lib/froala-editor/css/themes/gray.min.css" />

    <link rel="stylesheet" href="~/lib/flatpickr/flatpickr.min.css">

    <link type="text/css" rel="stylesheet" href="~/lib/dropzone/dist/min/dropzone.min.css" />
    <link type="text/css" rel="stylesheet" href="~/lib/tagify/css/tagify.css" />
    <link type="text/css" rel="stylesheet" href="~/lib/bootstrap-notify/animate.min.css" />
    <link type="text/css" rel="stylesheet" href="~/css/Areas/Identity/Pages/Correspondencia/Crear.css" asp-append-version="true" />
}

@section ScriptsPrioritarios
    {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>
    <script type="text/javascript" src="~/lib/froala-editor/js/froala_editor.pkgd.min.js"></script>
    <script type="text/javascript" src="~/lib/froala-editor/js/languages/es.js"></script>
    <script type="text/javascript" src="~/lib/froala-editor/js/plugins/image.min.js"></script>
    <script type="text/javascript" src="~/lib/froala-editor/js/plugins/colors.min.js"></script>


    <script src="~/lib/flatpickr/flatpickr.min.js"></script>
    <script src="~/lib/flatpickr/l10n/es.js"></script>

    <script type="text/javascript" src="~/lib/dropzone/dist/min/dropzone.min.js"></script>
    <script type="text/javascript" src="~/lib/are-you-sure/jquery.are-you-sure.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script type="text/javascript" src="~/lib/tagify/js/tagify.min.js"></script>
    <script type="text/javascript" src="https://svc.webspellchecker.net/spellcheck31/wscbundle/wscbundle.js"></script>
    <script type="text/javascript" src="~/lib/froala-editor/js/plugins/font_size.min.js"></script>
}

<div class="content-wrapper pt-3">
    <div class="container-fluid">
        <form id="form-new-ofi" method="post">
            <div>
                <input asp-for="CrearDocumento.FolioSession" class="sin-indicador" />
                <input asp-for="CrearDocumento.TipoSubmit" class="sin-indicador" />
                <input asp-for="CrearDocumento.AreaId" class="sin-indicador" />
                <input asp-for="CrearDocumento.Extensiones" class="sin-indicador" />

                <input asp-for="Inhabiles.Dias" class="sin-indicador" />
                <input asp-for="Inhabiles.Inicio" class="sin-indicador" />
                <input asp-for="Inhabiles.Limite" class="sin-indicador" />
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-12 col-xl-10">
                    <ol class="breadcrumb-2 mt-0 mb-0 display-inline">
                        <li class="breadcrumb-2-item active display-flex font-weight-bold">
                            NUEVO DOCUMENTO
                        </li>
                        <li class="flex-right">
                            <button type="submit" class="md-btn md-btn-raised md-btn-ripple mr-1" id="send-new-ofi">Enviar</button>
                            <button type="submit" class="md-btn md-btn-raised md-btn-ripple bg-secondary mr-1" id="savetest" asp-page-handler="borrador">Guardar</button>
                            <a asp-area="Identity" asp-page="/Bandejas/Recibidos" class="md-btn md-btn-raised md-btn-ripple bg-secondary">Cancelar</a>
                        </li>
                    </ol>
                    <hr class="hr-thick mt-2 mb-2" />
                    <div class="mt-0 mb-2">
                        <div id="control-toggle-encab">
                            <div class="form-group row font-dark-gray ml-0 pt-0 mb-0">
                                <div class="col-sm-7 pl-0">
                                    <!-- De: -->
                                    <label class="lbl-de"><b>De: </b></label>
                                    <label id="labelfrom">
                                        <!-- Aquí se imprimirá el nombre del redactor -->
                                        @Model.Remitente.Nombre
                                    </label>
                                </div>
                                <div class="col-sm-5 align-text-right">
                                    <input asp-for="CrearDocumento.EsRevision" type="checkbox" class="sin-indicador" id="checkRevision"> Enviar a revisión
                                </div>
                            </div>
                            <div class="form-group row font-dark-gray mb-0 mt-1">
                                <span id="containerMailsFor" class="ml-3"></span>
                                <span class="span-fill col-sm-12 mt-1" id="tagsEmailPara">
                                    <!-- Para: -->
                                    <label class="lbl-para" id="labelPara"><b>Para: </b></label>
                                    <label class="label-fill">
                                        <input id="form-autocomplete-para" type="text" placeholder="Destinatario" />
                                        <input asp-for="CrearDocumento.Para" class="form-control sin-indicador" />
                                        <span asp-validation-for="CrearDocumento.Para" class="text-danger"></span>
                                    </label>
                                    <span class="btn-link" data-toggle="collapse" data-target="#grupos" aria-expanded="true" aria-controls="collapseOne">
                                        @*onclick="CambiarFlecha()"*@
                                        <i class="fas fa-angle-down" id="flecha1"></i>
                                    </span>
                                </span>
                            </div>
                            <div class="collapse" id="grupos">
                                <div class="form-group row font-dark-gray mb-0 mt-1">
                                    <div class="col-sm-2 col-lg-4"></div>
                                    <div class="col-sm-5 col-lg-4 mb-0">
                                        <span class="d-none">
                                            <small>Servicios:</small>
                                            <select id="serviciosSelect" class="form-control form-control-sm tm-input-servicios">
                                                <option selected disabled value="">Seleccione un servicio</option>
                                            </select>
                                        </span>
                                    </div>
                                    <div class="col-sm-5 col-lg-4 pr-4">
                                        <span>
                                            <!--Combobox Grupos-->
                                            <small>Grupos:</small>
                                            <select id="grupoSelect" class="form-control form-control-sm">
                                                <option selected disabled value="">Seleccione un grupo</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row font-dark-gray mb-0 mt-2" id="CCPsdiv">
                                <span id="containerMailsCCP" class="ml-3"></span>
                                <span class="span-fill col-sm-12 mt-1" id="tagsEmailCCP">
                                    <!-- CC: -->
                                    <label class="lbl-cc"><b>CC: </b></label>
                                    <label class="label-fill">
                                        <input id="form-autocomplete-ccp" type="text" aria-describedby="emailHelp" placeholder="Destinatario">
                                        <input asp-for="CrearDocumento.CCP" class="form-control sin-indicador" />
                                        <span asp-validation-for="CrearDocumento.CCP" class="text-danger"></span>
                                    </label>
                                </span>
                            </div>
                            <div class="form-group row font-dark-gray mb-0 mt-2" id="ctndr-asunto">
                                <span class="span-fill col-sm-12 mt-1">
                                    <!-- Asunto: -->
                                    <label class="lbl-asunto"><b>Asunto: </b></label>
                                    <label class="label-fill">
                                        <input asp-for="CrearDocumento.Asunto" class="form-control form-input sin-indicador" id="asunto" type="text" aria-describedby="emailHelp" placeholder="">
                                        <span asp-validation-for="CrearDocumento.Asunto" class="text-danger"></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="font-dark-gray mt-1 mb-0">
                            <div id="resumen" class="d-none w-75">
                                <span><b>De: </b><span class="resumen-de"></span>;</span>
                                <span><b>Para: </b><span class="resumen-para"></span>;</span>
                                <span><b>CC: </b><span class="resumen-CCP"></span>;</span>
                                <span><b>Asunto: </b><span class="resumen-asunto"></span></span>
                            </div>
                            <div class="right-text">
                                <button type="button" class="btn btn-link pl-0 pr-0 pt-0 pb-0 d-inline-block" id="btn-control-encabezado"><i class="fas fa-angle-double-up"></i></button>
                            </div>
                        </div>
                        <div class="form-group row font-dark-gray mt-0 mb-0 mr-0">
                            <div class="col-sm-12 pr-0">
                                <!-- Archivos adjuntos -->
                                <label><b>Anexos: </b></label>
                                <div class="dropzone" id="uploader"></div>
                                <div><small>El tamaño máximo de los archivos adjuntos es de 25MB</small></div>
                                <input asp-for="CrearDocumento.Anexos" class="sin-indicador" />
                            </div>
                        </div>
                        <div class="form-group row font-dark-gray mb-3">
                            <div class="col-sm-4 col-lg-4">
                                <span>
                                    <small>Folio:</small>
                                    <input asp-for="CrearDocumento.Folio" id="folioInput" class="form-control form-control-sm sin-indicador disabled" type="text" readonly>
                                </span>
                            </div>
                            <div class="col-sm-4 col-lg-4">
                                <span id="contieneFechapc">
                                    <small>Fecha propuesta:</small>
                                    <input asp-for="CrearDocumento.FechaPropuesta" id="fechaCompromiso" placeholder="Seleccione una fecha" class="form-control bg-white form-control-sm sin-indicador">
                                    <span asp-validation-for="CrearDocumento.FechaPropuesta" class="text-danger"></span>
                                </span>
                            </div>
                            <div class="col-sm-4 col-lg-4 right-text">
                                <span>
                                    <small>Plantilla:</small>
                                    <select asp-items="Model.CrearDocumento.PlantillasSelectList" id="plantillaSelect" class="form-control form-control-sm sin-indicador">
                                        <option selected value="">Seleccione una plantilla</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <!--PLANTILLA PARA EL DOCUMENTO-->
                        <div class="mb-3">
                            <!--class="card"-->
                            <div class="card-body p-0 pt-1">
                                <div class="row pt-0 pb-3">
                                    <div class="col-sm-12 col-xl-12">
                                        <div class="align-text-right pr-0">
                                            @*<img class="auto-hide-mobile logo-simbolo" src="~/images/LIS_UV_COLOR_3.png" />*@
                                            <cache enabled="true" expires-after="@TimeSpan.FromSeconds(5)">
                                                <img class="auto-hide-mobile logo-simbolo" src="@Url.Action("Logo", "Anexos", new { id = Model.CrearDocumento.AreaId })" />
                                            </cache>
                                            <div>
                                                <p class="auto-hide-mobile mb-0 font-bold-11">@Model.Remitente.AreaPadre</p>
                                                <p class="auto-hide-mobile mb-0 font-regular-10 mb-2">@Model.Remitente.AreaHijo</p>

                                                <p id="leyenda-tipo-documento" class="auto-hide-mobile mb-0 font-bold-12"></p>
                                                <input asp-for="CrearDocumento.NoInterno" class="form-control form-control-sm font-regular-10 no-oficio sin-indicador" id="NoOficio" placeholder="No." />
                                                <p class="auto-hide-mobile mb-0 font-regular-10">@Model.CrearDocumento.Fecha</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-0 pb-0">
                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-2 align-text-right auto-hide-mobile pt-5">
                                        <div class="mb-4">
                                            <p class="font-regular-9 mb-0">Dirección</p>
                                            <p class="font-regular-9 mb-0">@Model.Remitente.Direccion</p>
                                        </div>
                                        <div class="mb-4">
                                            <p class="font-regular-9 mb-0">Teléfono(s)</p>
                                            <p class="font-regular-9 mb-0">@Model.Remitente.Telefono</p>
                                        </div>
                                        <div class="mb-4">
                                            <p class="font-regular-9 mb-0">Correo electrónico</p>
                                            <p class="font-regular-9 mb-0">@Model.Remitente.Correo</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-10">
                                        <div>
                                            <span asp-validation-for="CrearDocumento.Cuerpo" class="text-danger"></span>
                                            <textarea asp-for="CrearDocumento.Cuerpo" class="font-regular-12 sin-indicador"></textarea> @* id="edit"*@                                           
                                        </div>
                                        <div class="auto-hide-mobile pt-5">
                                            <p class="mt-2 mb-0 font-regular-12">A t e n t a m e n t e</p>
                                            <p class="font-weight-light font-regular-12">"Lis de Veracruz: Arte, Ciencia, Luz"</p>
                                            <br />
                                            <p class="mb-0 font-regular-12">@Model.Remitente.Nombre</p>
                                            <p class="mb-0 font-regular-10">@Model.Remitente.Puesto</p>
                                            <p class="mb-0 font-regular-10">@Model.Remitente.AreaHijo</p>
                                            <p class="mb-0 font-regular-11">Universidad Veracruzana</p>
                                        </div>
                                    </div>
                                </div>

                                <div id="ccpContainer"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-12 col-xl-2 right-sidebar">
                    <div class="mt-2" id="ButtonsOficio">
                        <button type="button" class="md-btn md-btn-raised md-btn-ripple bg-secondary btn-right-bar" id="SaveAsTemplate">Guardar como plantilla</button>
                        <hr class="mt-2 mb-0" />
                    </div>
                    <div class="pt-2">
                        <!-- Tags / Categorías -->
                        <label for="asunto" class="col-form-label">Categorías:</label>
                        @*<hr class="mt-0 mb-2" />*@
                        <div class="align-text-left mt-0 pl-4" id="tagsSaver"></div>
                        <button type="button" class="md-btn md-btn-raised md-btn-ripple bg-secondary btn-right-bar mt-2" id="buttonTag">Agregar categoría</button>
                        <input asp-for="CrearDocumento.Categorias" class="form-control tm-input-tags" />
                        <hr class="mb-0" />
                    </div>
                    <br />
                    <div class="">
                        <small>Req. respuesta</small>
                        <select asp-for="CrearDocumento.RequiereRespuesta" class="form-control form-control-sm sin-indicador">
                            <option value="false">No</option>
                            <option value="true">Si</option>
                        </select>
                    </div>
                    <br />
                    <div class="">
                        <small>Importancia</small>
                        <select asp-for="CrearDocumento.ImportanciaId" asp-items="Model.CrearDocumento.ImportanciaSelectList" class="form-control form-control-sm sin-indicador"></select>
                    </div>
                    <br />
                    <div class="">
                        <small>Tipo de documento</small>
                        <select asp-for="CrearDocumento.TipoId" asp-items="Model.CrearDocumento.TiposSelectList" class="form-control form-control-sm sin-indicador"></select>
                    </div>
                    <br />
                    <div class="">
                        <small>Visibilidad</small>
                        <select asp-for="CrearDocumento.VisibilidadId" asp-items="Model.CrearDocumento.VisibilidadSelectList" class="form-control form-control-sm sin-indicador"></select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts
    {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/js/Areas/Identity/Pages/Correspondencia/Crear.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/Areas/Identity/Pages/Areas/WSC.min.js" asp-append-version="true"></script>
}
