@page "/Grupos/Integrantes/Borrar/{grupoId:int}/{username}"
@model Hermes2018.Areas.Identity.Pages.Grupos.BorrarModel

<div class="content-wrapper pt-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-2">
                        <ol class="breadcrumb-2 mt-0 mb-0 pb-1 pt-1 display-inline">
                            <li class="breadcrumb-2-item">
                                <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="">Inicio</a>
                            </li>

                            <li class="breadcrumb-2-item">
                                <a asp-area="Identity" asp-page="/Grupos/Index" asp-route-id="">Integrantes</a>
                            </li>
                            <li class="breadcrumb-2-item active display-flex" aria-current="page">Borrar Integrante</li>
                        </ol>
                    </div>
                    <div class="col-12">
                        <hr class="hr-thick mb-1 mt-1" />
                        <h5>Borrar Integrante</h5>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger error-list-clean"></div>
                            <input asp-for="Borrar.UsuarioId" class="sin-indicador" />
                            <input asp-for="Borrar.GrupoId" class="sin-indicador" />
                            <input asp-for="Borrar.Nombre" class="sin-indicador" />
                            <input asp-for="Borrar.Usuario" class="sin-indicador" />
                            <input asp-for="Borrar.Correo" class="sin-indicador" />

                            <dl class="">
                                <dt class="">
                                    @Html.DisplayNameFor(x => x.Borrar.Nombre)
                                </dt>
                                <dd class="">
                                    @Html.DisplayFor(x => x.Borrar.Nombre)
                                </dd>

                                <dt class="">
                                    @Html.DisplayNameFor(x => x.Borrar.Usuario)
                                </dt>
                                <dd class="">
                                    @Html.DisplayFor(x => x.Borrar.Usuario)
                                </dd>

                                <dt class="">
                                    @Html.DisplayNameFor(x => x.Borrar.Correo)
                                </dt>
                                <dd class="">
                                    @Html.DisplayFor(x => x.Borrar.Correo)
                                </dd>
                            </dl>

                            <div>
                                <p>¿Desea borrar el integrante?</p>
                            </div>
                            <div>
                                <a asp-area="Identity" asp-page="/Grupos/Detalles"  asp-route-id="@Model.Borrar.GrupoId" class="btn btn-light">Cancelar</a>
                                <button type="submit" class="btn btn-danger" title="Borrar el integrante definitivamente">Borrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>