@page "/Calendarios/Detalles/{id:int}"
@model DetallesModel

<div class="content-wrapper ml-0 bg-white pt-0">
    <div class="container-fluid" id="logged-in">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-2">
                        <ol class="breadcrumb-2 mt-0 mb-0 pb-1 pt-1 display-inline">
                            <li class="breadcrumb-2-item">
                                <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="">Inicio</a>
                            </li>

                            <li class="breadcrumb-2-item">
                                <a asp-area="Identity" asp-page="/Calendarios/Index">Calendarios</a>
                            </li>
                            <li class="breadcrumb-2-item active display-flex" aria-current="page">Detalle del calendario</li>
                        </ol>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-2">
                        <div class="float-right pt-2">
                            <a asp-area="Identity" asp-page="/Calendarios/Contenido/Crear" asp-route-id="@Model.Calendario.CalendarioId" class="btn btn-primary  btn-sm" title="Agregar una nueva fecha">Nueva fecha</a>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr class="hr-thick mb-1 mt-1" />
                        <h5>Detalle del calendario</h5>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="pb-1">
                    <span class="badge badge-dark">@Model.Calendario.Anio</span><br />
                    <span class="font-bold-11">Nombre: </span>@Model.Calendario.Titulo
                </div>
                <div class="table-responsive responsive">
                    <table class="table table-hover table-sm border-bottom">
                        <thead class="bg-light">
                            <tr>
                                <th>Mes</th>
                                <th>Día</th>
                                <th>Fecha completa</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int band = 0; }
                            @foreach (var exterior in Model.Contenido)
                            {
                                foreach (var interior in exterior.Listado)
                                {
                                    if (band == 0)
                                    {
                                        <tr>
                                            <td rowspan="@exterior.Listado.Count()">
                                                @Html.DisplayFor(modelItem => exterior.Mes)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => interior.Dia)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => interior.FechaCompleta)
                                            </td>
                                            <td class="font-regular-12 text-center">
                                                <a asp-area="Identity" asp-page="/Calendarios/Contenido/Borrar" asp-route-id="@interior.ContenidoId" class="pl-2 pr-2" title="Borrar"><i class="far fa-trash-alt font-gray"></i></a>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => interior.Dia)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => interior.FechaCompleta)
                                            </td>
                                            <td class="font-regular-12 text-center">
                                                <a asp-area="Identity" asp-page="/Calendarios/Contenido/Borrar" asp-route-id="@interior.ContenidoId" class="pl-2 pr-2" title="Borrar"><i class="far fa-trash-alt font-gray"></i></a>
                                            </td>
                                        </tr>
                                    }
                                    { band = band + 1; }
                                }
                                { band = 0; }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>