@page "/Calendarios"
@model IndexModel

<div class="content-wrapper ml-0 bg-white pt-0">
    <div class="container-fluid" id="logged-in">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-2">
                        <ol class="breadcrumb-2 mt-0 mb-0 pb-1 pt-1 display-inline">
                            <li class="breadcrumb-2-item">
                                <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="">Inicio</a>
                            </li>

                            <li class="breadcrumb-2-item active display-flex" aria-current="page">Calendarios</li>
                        </ol>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-2">
                        <div class="float-right">
                            <a asp-area="Identity" asp-page="/Calendarios/Crear" class="btn btn-sm md-btn-raised md-btn-ripple bg-primary">Nuevo</a>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr class="hr-thick mb-1 mt-1" />
                        <h5>Calendarios</h5>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-hover table-sm border-bottom responsive">
                        <thead class="bg-light">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Calendarios.First().Titulo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Calendarios.First().Anio)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Calendarios.First().TotalDias)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Calendarios)
                            {
                                <tr>
                                    <td>
                                        @Html.HiddenFor(modelItem => item.CalendarioId, new { @class ="sin-indicador" })
                                        @Html.DisplayFor(modelItem => item.Titulo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Anio)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalDias)
                                    </td>
                                    <td class="font-regular-12 text-center">
                                        <a asp-area="Identity" asp-page="/Calendarios/Detalles" asp-route-id="@item.CalendarioId" class="pl-2 pr-2" title="Detalles"><i class="fab fa-wpforms font-gray"></i></a>
                                        <a asp-area="Identity" asp-page="/Calendarios/Borrar" asp-route-id="@item.CalendarioId" class="pl-2 pr-2" title="Borrar"><i class="far fa-trash-alt font-gray"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>