@page "/Plantillas/Detalles/{id:int}"
@model DetallesModel

@section styles
    {
    <link type="text/css" rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css" />
    <link type="text/css" rel="stylesheet" href="~/lib/froala-editor/css/froala_editor.pkgd.min.css" />
    <link type="text/css" rel="stylesheet" href="~/lib/froala-editor/css/froala_style.min.css" />
    <link type="text/css" rel="stylesheet" href="~/lib/froala-editor/css/plugins/image.min.css" />
    <link type="text/css" rel="stylesheet" href="~/lib/froala-editor/css/themes/gray.min.css" />
}

<div class="content-wrapper pt-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-2">
                        <ol class="breadcrumb-2 mt-0 mb-0 pb-1 pt-1 display-inline">
                            <li class="breadcrumb-2-item">
                                <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="">Inicio</a>
                            </li>

                            <li class="breadcrumb-2-item">
                                <a asp-area="Identity" asp-page="/Plantillas/Index">Plantillas</a>
                            </li>
                            <li class="breadcrumb-2-item active display-flex" aria-current="page">Detalle de la plantilla</li>
                        </ol>
                    </div>
                    <div class="col-12">
                        <hr class="hr-thick mb-1 mt-1" />
                        <h5>Detalle de la plantilla</h5>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <input asp-for="@Model.Detalles.HER_PlantillaId" class="sin-indicador" />
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                        <div class="form-group">
                            <label class="col-form-label pb-0 font-weight-bold">@Html.DisplayNameFor(model => model.Detalles.HER_Nombre)</label>
                            <div class="">
                                @Html.DisplayFor(model => model.Detalles.HER_Nombre)
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="form-group">
                            <label class="col-form-label pb-0 font-weight-bold">@Html.DisplayNameFor(model => model.Detalles.HER_Fecha)</label>
                            <div class="">
                                @Html.DisplayFor(model => model.Detalles.HER_Fecha)
                            </div>
                        </div>
                    </div>
                    <div class="col-12 gray-theme">
                        <div class="form-group">
                            <label class="col-form-label pb-0 font-weight-bold">@Html.DisplayNameFor(model => model.Detalles.HER_Texto)</label>
                            <div class="fr-view">
                                @Html.Raw(Model.Detalles.HER_Texto)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
